{
  "env": {
    "browser": true, // Allow window
  },
  "extends": "airbnb",
  "ecmaFeatures": { "modules": true },
  rules: {
    "no-undef": 1,
    "no-eval": 1,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}