.outer-container {
  background: rgba(240,180,135,1);
  width: 400px;
  height: 390px;
  margin: 10% auto;
  border-radius: 2%;
  box-shadow: -webkit-box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
-moz-box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
  padding-top: 40px;
}

.board-container {
  width: 350px;
  height: 350px;
  background: rgba(40,40,40,1)
    -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  margin: 0px auto;

}