.outer-container {
  background: rgba(240,180,135,1);
  width: 400px;
  height: 390px;
  margin: 10% auto;
  border-radius: 2%;
  box-shadow: -webkit-box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
-moz-box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
  padding-top: 40px;
}

.board-container {
  width: 350px;
  height: 350px;
  background: rgba(40,40,40,1)
    -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  margin: 0px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-choice, .game-starter{
  /*position: absolute;*/
  width: 90%;
  height: 100%;
  font-family: 'Architects Daughter',Helvetica,sans-serif;
  margin-top: 10px auto;
}

.game-starter {
  display: none;
}
.game-choice p, .game-starter p{
  text-align: center;
  font-size: 36px;
  color: white;
}

.game-choice button, .game-starter button {
  color: rgba(220,220,220,1);
  font-size: 1.7rem;
  background: none;
  border: none;
  opacity: 0.7;
}

.role-control {
  display: flex;
  justify-content: space-around;
}

/*.role-control button{
  padding-right: 1em;
}*/

.back-button {
  display: block;
  margin: auto;
}

button {
  cursor: pointer;
}