.outer-container {
  background: rgba(240,180,135,1);
  width: 400px;
  height: 390px;
  margin: 10% auto;
  border-radius: 2%;
  box-shadow: -webkit-box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
-moz-box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
box-shadow: 1px 9px 15px 2px rgba(0,0,0,0.52);
  padding-top: 40px;
}

.board-container {
  width: 350px;
  height: 350px;
  background: rgba(40,40,40,1)
    -webkit-radial-gradient(center, rgba(40,80,60,1), rgba(0,20,20,.6));
  margin: 0px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.game-choice, .game-starter{
  /*position: absolute;*/
  width: 90%;
  height: 100%;
  font-family: 'Architects Daughter',Helvetica,sans-serif;
  margin-top: 10px auto;
}

.game-starter {
  display: none;
}
.game-choice p, .game-starter p{
  text-align: center;
  font-size: 36px;
  color: white;
}

.game-choice button, .game-starter button {
  color: rgba(220,220,220,1);
  font-size: 1.7rem;
  background: none;
  border: none;
  opacity: 0.7;
}

.role-control {
  display: flex;
  justify-content: space-around;
}

/*.role-control button{
  padding-right: 1em;
}*/

.back-button {
  display: block;
  margin: auto;
}

.game-board {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: none;
}

#myCanvas {
  width: 330px;
  height: 330px;
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 10px;
  opacity: 1;
  display: none;
}

/* Game board displays: reset buttons, score display */
.reset {
  background: none;
  border: none;
  margin-left: 310px;
  margin-top: -30px;
  color: rgba(100,60,50,.8);
  font-size: 1.3em;
  position: absolute;
  z-index: 3;
  display: none;
}

.scores {
  color: rgba(100,60,50,.8);
  /*font-size: 1.3em;*/
  z-index: 3;
  position: absolute;
  margin-top: -35px;
  margin-left: 50px;
  display: none;
}

.vertical-divider {
  font-size: 1.7em;
  margin: auto 10px;
  opacity: 0.5;
}

.score {
  position: absolute;
  bottom: 15px;
  /*text-align: center; //it doesnt work..*/
}

.player-turn {
  /*width:400px;*/
  position: absolute;
  top:50px;
}

.player1-turn {
  background: rgba(0,200,200,1);
  padding:10px;
  margin-left: 10px;
}

.player2-turn {
  background: rgba(200,100,100,1);
  padding:10px;
  margin-left: 130px;
}

button {
  cursor: pointer;
}